<br>
<br>
<div class="card">
   <h5 class="card-header">My tasks</h5>
   <div class="card-body">
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <% @tasks.each do |task| %>
          <% if task.completed == true %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span>✅  - <%= link_to task.title, task_path(task) %></span>
              <%= link_to "delete", task_path(task), method: :delete, class: "badge badge-danger badge-pill", data: { confirm: "are you sure?" } %>
            </li>
          <% else %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span>🔲  - <%= link_to task.title, task_path(task) %></span>
              <%= link_to "delete", task_path(task), method: :delete, class: "badge badge-danger badge-pill", data: { confirm: "are you sure?" } %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <br>
    <%= link_to "✚ Add a New Task", new_task_path, class: "btn btn-primary" %>
  </div>
</div>
